<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lab6_23520536_21521202">

        <!-- Facebook Config -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="1136667892271039" />

        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="22c156a65bfc0139cb72bd12201b7fa1" />

        <!-- Màn hình khởi động -->
        <activity
            android:name=".avtivity.OnboardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Các Activity khác -->
        <activity android:name=".auth.LoginActivity" android:exported="false" />
        <activity android:name=".auth.RegisterActivity" android:exported="false" />
        <activity android:name=".avtivity.MainActivity" android:exported="false" />
        <activity android:name=".avtivity.SelectDepartmentActivity" android:exported="false" />
        <activity android:name=".avtivity.SelectDateTimeActivity" android:exported="false" />
        <activity android:name=".avtivity.SelectProfileActivity" android:exported="false" />
        <activity android:name=".avtivity.PaymentActivity" android:exported="false" />
        <activity android:name=".avtivity.QrScannerActivity" android:exported="false" />

    </application>

</manifest>